html,
body {
    margin: 0;
    background-color: #eee;
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    background-image: url("../images/bg.png");
}
html {
    height: 100%;
}
body {
    color: #000;
    font-size: 13px;
    line-height: 1.6;
    min-height: 100%;
    position: relative;
}
input, button, textarea {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #333;
    outline: 0;
}
a:hover {
    text-decoration: underline
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
button,
input[type="submit"],
input[type="button"] {
    width: 100%;
}
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}


.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #d6d6d6;
}
.edit-plane,
.main {
    position: relative;
    width: 900px;
    min-height: 600px;
    margin: 0 auto;
    padding: 30px;
    margin-top: 50px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.footer-bar {
    width: 960px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}
.top-bar {

    width: 100%;
    display: block;
    font-size: 16px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    margin: 0px auto;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
}
.top-bar>div {
    padding: 0 20px;
}
.logo {
    padding: 0;
    line-height: 1;
    margin: 10px 0 16px;
}
.logo>a {
    color: #ccc;
    font-size: 26px;
}
.logo>a:hover {
    text-decoration: none;
}
.nav-bar {
    line-height: 50px;
    overflow: hidden;
}
.nav-bar>a {
    float: left;
    display: block;
    padding: 0 1em;
    margin-left: 2em;
}
.post-item {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
}
.post-item h2 {
    margin: 12px 0 0;
}
.post-info {
    color: #999;
    font-size: 14px;
    margin: 0;
}
.edit-plane {
    margin: 0 auto;
}
input,
select,
textarea {
    display: block;
  width: 100%;
  padding: 6px 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.foot-div {
    display: flex;
    align-items: center;
}
.foot-div>* {
    margin-right: 1em;
}
.page-nav,
.page-nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.page-nav {
    overflow: hidden;
}
.page-nav li {
    float: left;
    margin-right: 10px;
}
.page-nav a {
    display: block;
    padding: 4px 12px;
    height: 20px;
    line-height: 20px;
    background-color: #e5e5e5;
}
.post-content pre {
padding: 16px;
overflow: auto;
font-size: 85%;
line-height: 1.45;
background-color: #f6f8fa;
border-radius: 3px;
}
.post-content pre code {
background-color: transparent;
}
.post-content code {
padding: .2em .4em;
margin: 0;
font-size: 14px;
background-color: rgba(27,31,35,.05);
border-radius: 3px;
}
.post-content a {
color: #0366d6;
text-decoration: none;
}
.post-content h1,
.post-content h2 {
border-bottom: 1px solid #eaecef;
}
.post-content h3 {
font-size: 18px;
}
.page-nav a:hover {
color: #000;
background-color: #f2f2f2;
}
.page-nav .selected a {
color: #000;
border-color: transparent;
background-color: transparent;
}
.edit-box {
background-color: #fff;
}
.post-menu>form {
display: inline-block;
margin-left: 2em;
}
.post-menu>span {
    margin-right: 1em;
}
.login-form {
width: 480px;
margin: 0 auto;
}
.post-menu {
margin: 10px 0 60px;
}
.post-content {
font-size: 14px;
}
.content-input {
height: 600px;
}
.edit-menu {
display: flex;
}
.edit-menu>button:first-child {
margin-right: 10px;
}