html,
body {
    margin: 0;
    min-height: 100%;
    background-color: #eee;
}
body {

    color: #000;
    font-size: 13px;
    line-height: 1.6;
    font-family: 'Arial', 'Heiti SC', 'Microsoft Yahei', simsun, sans-serif;
    position: relative;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Heiti SC', 'Microsoft Yahei', simsun, sans-serif;
    margin: 0;
    font-weight: normal;
}
a {
    text-decoration: none;
    color: #333;
    outline: 0;
}
a:hover {
    text-decoration: underline
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}


.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.edit-plane,
.main {
    width: 997px;
    min-height: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
    border-radius: 4px;
    background-color: #fff;
}
.footer-bar {
    width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
}
.top-bar {

    width: 100%;
    display: block;
    font-size: 16px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    margin: 0px auto;
}
.top-bar>div {
    padding: 0 20px;
}
.logo {
    padding: 12px 0;
}
.logo>a {
    color: #ccc;
    font-size: 26px;
}
.logo>a:hover {
    text-decoration: none;
}
.nav-bar {
    line-height: 50px;
    overflow: hidden;
}
.nav-bar>a {
    float: left;
    display: block;
    padding: 0 1em;
    margin-left: 2em;
}
.post-item {
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e1e1e1;
}

.post-info {
    color: #999;
    font-size: 14px;
    margin: 0;
}
.edit-plane {
    margin: 0 auto;
}
input,
select,
textarea {
    display: block;
  width: 100%;
  padding: 6px 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.foot-div {
    display: flex;
    align-items: center;
}
.page-nav {
    overflow: hidden;
    margin-right: 1em;
}
.page-nav li {
    float: left;
    margin-left: 10px;
}
.page-nav a {
    display: block;
    padding: 0 8px;
    height: 20px;
    line-height: 20px;
    background-color: #fafafa;
    border: 1px solid #ddd;
}
.page-nav a:hover {
    color: #000;
    background-color: #f2f2f2;
}
.page-nav .selected a {
    color: #000;
    border-color: transparent;
    background-color: transparent;
}
.edit-box {
    background-color: #fff;
}
.post-menu>form {
    display: inline-block;
    margin-left: 2em;
}

.login-form {
    width: 480px;
    margin: 0 auto;
}