body {
    background: #fff;
    color: #000;
    font-size: 13px;
    line-height: 1.6;
    font-family: 'Arial', 'Heiti SC', 'Microsoft Yahei', simsun, sans-serif;
    position: relative
}
h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Heiti SC', 'Microsoft Yahei', simsun, sans-serif;
    margin: 0
}
a {
    text-decoration: none;
    color: #326891;
    outline: 0;
}
a:hover {
    text-decoration: underline
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}

.main {
    width: 997px;
    margin: 0 auto;
    margin-top: 50px;
}
.footer-bar {
    width: 997px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.top-bar {
    width: 100%;
    display: block;
    font-size: 16px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    margin: 0px auto;
    padding: 12px 0;
}
.top-bar>div {
    width: 997px;
    margin: 0 auto;
}
.logo>a {
    color: #333;
}
.logo>a:hover {
    text-decoration: none;
}
.nav-bar {
    line-height: 50px;
}
.nav-bar>a {
    float: left;
    display: block;
    padding: 0 1em;
    margin-left: 2em;
}
.post-item {
    margin-bottom: 50px;
}
.post-info {
    color: #999;
}
.edit-plane {
    width: 997px;
    margin: 0 auto;
}
input,
select,
textarea {
    display: block;
  width: 100%;
  padding: 6px 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}