<!DOCTYPE html>
<html lang="zh">
<head>
    <title  th:value="${post.title}"></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/images/favicon.ico" rel="SHORTCUT ICON">
    <link rel="stylesheet" type="text/css" href="/css/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
</head>
<body>
    <div th:include="common::header"></div>
    <div class="main">
        <form method="POST" th:action="@{/post/edit/{postId}(postId=${post.id})}">
            <h1>编辑</h1>
            <p>
                <label>标题:</label>
                <input type="text" th:value="${post.title}"  name="title">
            </p>
            <p class="edit-menu">
                <button type="submit" class="btn-info">提交</button>
                <button type="button" class="btn-light" onclick="switchReview(this)">预览</button>
                <input type="hidden" name="id" th:value="${post.id}">
            </p>
            <div id="editDiv">
                <label>正文:</label>
                <textarea class="content-input" id="postContent" cols="10" rows="5" name="content"  th:text="${post.content}"></textarea>
            </div>
            <div id="reviewDiv">
                <div></div>
            </div>
        </form>
    </div>
    <div th:include="common::default"></div>
<script>
    function switchReview(ele){
        if (switchReview.isReview) {
            ele.textContent = '编辑';
            $('#editDiv').hide();
            $('#reviewDiv').show();
            var md = new remarkable.Remarkable();
            var postContent = $('#postContent');
            $('#reviewDiv>div').html(md.render(postContent.val()));
        } else {
            ele.textContent = '预览';
            $('#editDiv').show();
            $('#reviewDiv').hide();
        }
        switchReview.isReview = !switchReview.isReview;
    }
</script>
</body>
</html>