<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:include="common::header"></div>
<h5>user add</h5>
<p>
    <a href="/user/add?name=Alex&email=alex@baidu.com">Alex alex@baidu.com</a>
    <a href="/user/add?name=Jclian&email=github@sina.com">Jclian github@sina.com</a>
    <a href="/user/add?name=Bob&email=bob@google.com">Bob bob@google.com</a>
    <a href="/user/add?name=Cook&email=cook@apple.com">Cook cook@apple.com</a>
    <a href="/user/add?name=Mark&email=mark@west.com">Mark mark@west.com</a>
</p>


<h5>post add</h5>
<p>
    <a href="/post/add?author=Mark&content=春夜喜雨">Mark 春夜喜雨</a>
    <a href="/post/add?author=Alex&content=好雨知时节，当春乃发生。">Alex 好雨知时节，当春乃发生。</a>
    <a href="/post/add?author=Jclian&content=随风潜入夜，润物细无声。">Jclian 随风潜入夜，润物细无声。</a>
    <a href="/post/add?author=Bob&content=野径云俱黑，江船火独明。">Bob 野径云俱黑，江船火独明。</a>
    <a href="/post/add?author=Cook&content=晓看红湿处，花重锦官城。">Cook 晓看红湿处，花重锦官城。</a>
</p>
</body>
</html>