<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>java入门</title>
</head>
<body>
    <form method="POST" action="/post/add">
        <h1>写文章</h1>
        <p>
            <label>标题:</label>
            <input type="text"  name="title">
        </p>
        <p>
            <label>正文:</label>
            <textarea cols="10" rows="5" name="content"></textarea>
        </p>
        <p>
            <input type="submit" name="submit" value="提交">
            <input type="hidden" name="author" th:value="${author}">
            <input type="hidden" name="id" value="">
        </p>
    </form>
</body>
</html>